<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%=titulo%>
    </title>
</head>
<style>
    body,
    html {
        width: 100%;
        margin: 0;
        padding: 0;
        font-family: "Open Sans", sans-serif;
        ;
    }

    main {

        padding: 1rem;
        text-wrap: balance;
    }
    header {
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        width: 100%;
        background-color: #f0f0f0;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    }


    a {
        color: white;
        text-decoration: none;
    }

    form {
        margin-top: 200px;
        background-color: #d2f0f3;
        margin: 0 auto;
        padding: 2rem;
        width: min(600px, 90%);
        box-shadow: 0 5px 10px 1px #0000000a;
        border-radius: 7px;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
        
    }

    input,
    select {
        padding: 0.5rem;
        width: 100%;
        margin-top: 0.5rem;
        border-radius: 15px;
    }

    .buttons-container {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 1rem;
        border-radius: 15px;
    }

    .post-container {
        background-color: #f2fbff;
        text-align: center;
        margin: 0 auto;
        padding: 2rem;
        width: min(600px, 90%);
        box-shadow: 0 5px 10px 1px #0000005a;
        border-radius: 15px;
        margin-top: 13%;
    }
    footer {

        margin-top: 7%;
        background-color: #f0f0f0;
        padding: 0.5rem 0;
        text-align: center;
    }


</style>

<body>
    <%- include('partials/header.ejs') %>
    <main>
        <% if(!isPost){ %>
            <form action="/" method="post">
                <div class="input-container">
                    <label for="numDocente">Num.Docente</label>
                    <input id="numDocente" type="number" name="numDocente" required="" />
                </div>
                <div class="input-container">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" name="nombre" required="" />
                </div>
                <div class="input-container">
                    <label for="domicilio">Domicilio</label>
                    <input id="domicilio" type="text" name="domicilio" required="" />
                </div>
                <div class="input-container">
                    <label for="nivel">Nivel</label>
                    <select id="nivel" type="text" name="nivel" required="">
                        <option value="1">1. Licenciatura o Ingenieria</option>
                        <option value="2">2. Maestro en Ciencias</option>
                        <option value="3">3. Doctor</option>
                    </select>
                </div>
                <div class="input-container">
                    <label for="pagoPorHoraBase">Pago hora base</label>
                    <input id="pagoPorHoraBase" type="number" name="pagoPorHoraBase" required="" />
                </div>
                <div class="input-container">
                    <label for="horasImpartidas">Horas Impartidas</label>
                    <input id="horasImpartidas" type="number" name="horasImpartidas" required="" />
                </div>
                <div class="input-container">
                    <label for="numHijos">Numero de hijos</label>
                    <select id="numHijos" type="text" name="numHijos" required="">
                        <option value="3">No tiene hijos</option>
                        <option value="0">1 o 2 hijos</option>
                        <option value="1">3 a 5 hijos</option>
                        <option value="2">5 o mas hijos</option>
                    </select>
                </div>
                <div class="buttons-container">
                    <button class="btn btn-primary" type="submit">
                        Enviar Informacion
                    </button>
                    <button class="btn btn-danger"><a href="/">Limpiar</a></button>
                </div>
            </form>
            <%} else{ %>
                <div class="post-container">
                    <h1>Detalles del pago</h1>
                    <br>
                    <p>
                        Pago Por Horas Impartidas: $<%=pagoPorHorasImpartidas%>
                    </p>
                    <p>
                        Pago por Bono: $<%=bono%>
                    </p>
                    <p>
                        Impuestos: $<%=impuesto%>
                    </p>
                    <p>
                        Total a Pagar: $<%=totalAPagar%>
                    </p>
                </div>
                <% } %>
    </main>
    <%- include('partials/footer.ejs') %>

</body>

</html>